<!DOCTYPE html>
<html lang="en">

<head>
  <% include partial/head %>
</head>

<body class="container">
  <div class="col-md-6.col-md-offset-3">
    <h1>Hello
      <%= name %>
    </h1>
    <button class="btn btn-success" id="show-metrics">
      Bring the metrics
    </button>
    <button class="btn btn-success" id="add-metrics">
      Add metrics
    </button>
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
      Logout
    </button>
    <div id="metrics"></div>
    <div id="form">
      <form>
        Key: <input type="text" name="key" id="key"><br>
        Timestamp: <input type="text" name="timestamp" id="timestamp"><br>
        Value: <input type="text" name="value" id="value"><br>
        <button class="btn btn-success" id="save-metrics">
          Save
        </button>
      </form>
    </div>
    <svg></svg>
  </div>
</body>

<script>
  $(document).ready(function () {
    $("#form").css("display", "none");
  })

  function getMetrics() {
    $('#metrics').empty()
    $.getJSON('/metrics/all', {}, (data) => {
      const content = data.map(d => {
        return `<p id="${d[0]}">
          <button class="btn btn-danger" id="delete-metrics-${d[0]}">Delete</button>
          <button class="btn btn-success" id="update-metrics-${d[0]}">Update</button>
          key: ${d[0]}, timestamp: ${d[1].timestamp}, value: ${d[1].value}</p>`
      })
      $("#metrics").append(content.join("\n"))
    })
  }

  $('#show-metrics').click((e) => {
    e.preventDefault()
    getMetrics()
  })

  $('#metrics').on('click', 'button[id^="delete-metrics"]', (e) => {
    key = e.target.id.split('-')[2]
    $.ajax({
      url: '/metrics/'+ key,
      type: 'DELETE',
      success: () => {
        getMetrics()
      }
    });
  })

  $('#add-metrics').click((e) => {
    if ($("#form").css("display") == "block") {
      $("#form").css("display", "none");
      $('#add-metrics').html('Add metric');
    }
    else {
      $("#form").css("display", "block");
      $('#add-metrics').html('Hide form');
    }
  })

  $('#save-metrics').click((e) => {
    e.preventDefault()
    if ($('#key').val() == '' || $('#timestamp').val() == '' || $('#value').val() == '') {
      alert("Missing value")
      return
    }
    $.post('/metrics/add',
      {
        key: $('#key').val(),
        timestamp: $('#timestamp').val(),
        value: $('#value').val()
      }, (data) => {
        $('#key').val('')
        $('#value').val('')
        $('#timestamp').val('')
      })

    $("#form").css("display", "none");
    $('#add-metrics').html('Add metric');
    getMetrics()
  })





  var svgWidth = 500;
  var svgHeight = 300;

  var svg = d3.select('svg')
    .attr("width", svgWidth)
    .attr("height", svgHeight)
    .attr("class", "bar-chart");

  var dataset = [80, 100, 56, 120, 180, 30, 40, 120, 160];
  var barPadding = 5;
  var barWidth = (svgWidth / dataset.length);

  var barChart = svg.selectAll("rect")
    .data(dataset)
    .enter()
    .append("rect")
    .attr("y", function (d) {
      return svgHeight - d
    })
    .attr("height", function (d) {
      return d;
    })
    .attr("width", barWidth - barPadding)
    .attr("transform", function (d, i) {
      var translate = [barWidth * i, 0];
      return "translate(" + translate + ")";
    });
</script>

</html>